/* ---------------------------------------------------------------------- *\
                            Fixed General Style
\* ---------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Century Gothic";
}

body {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}


/* ---------------------------------------------------------------------- *\
                            Fixed Header Style
\* ---------------------------------------------------------------------- */
header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: 41px;
    background-color: #fff;
    border-bottom: 4px solid #eeeeee;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

header nav ul#nav_link {
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    place-items: center;
}

header nav ul#nav_social_network {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    place-items: center;
}

/* ---------------------------------------------------------------------- *\
                            Animated Header Style
\* ---------------------------------------------------------------------- */
header nav ul#nav_link li:hover,
header nav ul#nav_link li#current {
    font-weight: bold;
}

/* ---------------------------------------------------------------------- *\
                            Responsive Header Style
\* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- *\
                            Fixed Main Style
\* ---------------------------------------------------------------------- */
main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 0 20px 0;
}

main div.slide_to_slide_white_background div.slide_to_slide_white,
main div.slide_to_slide_grey_background div.slide_to_slide_grey {
    width: 0;
    margin: 0 auto;
    border-left: 5vh solid transparent;
    border-right: 5vh solid transparent;
}
main div.slide_to_slide_grey_background div.slide_to_slide_grey {
    border-top: 5vh solid #EEEEEE;
}
main div.slide_to_slide_white_background div.slide_to_slide_white {
    border-top: 5vh solid white;
}

main div.slide_to_slide_grey_background,
main div.slide_to_slide_white_background {
    padding: 0 0 40px 0;
}
main div.slide_to_slide_grey_background {
    background-color: #fff;
}
main div.slide_to_slide_white_background{
    background-color: #eeeeee;
}


/* ------------------------------------------------*\
                    Main Slide Part
\* ----------------------------------------------- */
main div.slide {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    height: calc(100vh - 45px - 4px - 5vh - 40px);
    justify-items: center;
    align-items: center;
    padding: 0 40px;
}

main img {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
}

main p {
    text-align: justify;
    font-size: 3vmin;
}


/* ---------------------------------------------------------------------- *\
                            Responsive Main Style
\* ---------------------------------------------------------------------- */
@media (max-width: 1070px) {
    main div.slide {
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
    }

    main div.img_slide {
        height: 100%;
        width: 100%;
    }

    main img {
        display: none;
    }
}

/* ---------------------------------------------------------------------- *\
                            Fixed Main Slide 1 Style
\* ---------------------------------------------------------------------- */
main div#slide_1 {
    grid-template-columns: 1fr;
    background: no-repeat center / cover url(../img/photo_slide1.1.jpg);
    border-bottom: 4px #eeeeee solid;
    margin: 0;
}

main div#slide_1 h1 {
    align-self: end;
    font-size: 20vmin;
    font-style: italic;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main div#slide_1 p {
    align-self: start;
    text-align: center;
    font-size: 5vmin;
    color: black;
}

/* ---------------------------------------------------------------------- *\
                            Responsive Main Slide 1 Style
\* ---------------------------------------------------------------------- */
@media (max-width: 1070px) {
    main div#slide_1 {
        grid-template-rows: 40% 60%;
    }
}

/* ---------------------------------------------------------------------- *\
                            Fixed Main Slide 2 Style
\* ---------------------------------------------------------------------- */
main div#slide_2 {
    background-color: white;
}

/* ---------------------------------------------------------------------- *\
                            Responsive Main Slide 2 Style
\* ---------------------------------------------------------------------- */

@media (max-width: 1070px) {
    main div.slide div#img_slide_2 {
        background: no-repeat center / cover url(../img/photo_slide2.jpg);
    }

}

/* ---------------------------------------------------------------------- *\
                            Fixed Main Slide 3 Style
\* ---------------------------------------------------------------------- */
main div#slide_3 {
    background-color: #EEEEEE;
}

/* ---------------------------------------------------------------------- *\
                            Responsive Main Slide 3 Style
\* ---------------------------------------------------------------------- */

@media (max-width: 1070px) {
    main div.slide div#img_slide_3 {
        background: no-repeat center / cover url(../img/photo_slide3.jpg);
    }

}

/*
    Slide 4
*/
main div#slide_4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main div#slide_4 div#img_and_form_slide {
    margin: 6em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 50%;
}

main div#slide_4 img {
    width: 20rem;
    border-radius: 50%;
}

main div#slide_4 form {
    display: flex;
    flex-direction: column;
}

main div#slide_4 form input {
    border: none;
    background-color: transparent;
    font: 1.5em Arial;
}

main div#slide_4 form input:focus {
    outline: none;
}

main div#slide_4 form input:hover {
    background-color: #cccccc;
}

main div#slide_4 form textarea {
    border: none;
    background-color: transparent;
    font: 1.5em Arial;
}

main div#slide_4 form textarea:focus {
    outline: none;
}

main div#slide_4 form textarea:hover {
    background-color: #cccccc;
}

/*  
    Footer
*/
footer {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0 1em 0;
    background-color: #EEEEEE;
}

footer div#footer_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

footer div#footer_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

footer div#footer_nav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;

}

footer p {
    margin: 0;
    text-align: center;
}

footer div i {
    bottom: 0;
    font-size: 1.5rem;
    margin: 0.5em;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.36);
}

footer div i:hover {
    color: rgba(0, 0, 0, 0.70);
}