/* ---------------------------------------------------------------------- *\
                            Fixed General Style
\* ---------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    outline: none;
    resize: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Century Gothic";
    max-width: 100%;
}

body {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
}

span {
    font-weight: bold;
}

/* ---------------------------------------------------------------------- *\
                            Fixed Header Style
\* ---------------------------------------------------------------------- */
header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: 41px;
    background-color: white;
    border-bottom: 4px solid #eeeeee;
    z-index: 2;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

header nav ul#nav_link {
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
}

header nav ul#nav_social_network {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    place-items: center;
}


/* ---------------------------------------------------------------------- *\
                            Animated Header Style
\* ---------------------------------------------------------------------- */
header nav ul#nav_link li a:hover,
header nav ul#nav_link li a div#current {
    color: black;
}

/* ---------------------------------------------------------------------- *\
                            Responsive Header Style
\* ---------------------------------------------------------------------- */
@media (max-width: 450px) {
    header nav {
        grid-template-columns: 1fr;
    }

    header nav ul#nav_social_network {
        display: none;
    }

}

/* ---------------------------------------------------------------------- *\
                            Fixed Main Style
\* ---------------------------------------------------------------------- */

main {
    display: grid;
    grid-template-columns: 1fr;
}

main div.slide_to_slide_white_background div.slide_to_slide_white,
main div.slide_to_slide_grey_background div.slide_to_slide_grey {
    width: 0;
    margin: 0 auto;
    border-left: 5vh solid transparent;
    border-right: 5vh solid transparent;
}

main div.slide_to_slide_grey_background div.slide_to_slide_grey {
    border-top: 5vh solid #EEEEEE;
}

main div.slide_to_slide_white_background div.slide_to_slide_white {
    border-top: 5vh solid white;
}

main div.slide_to_slide_grey_background {
    background-color: #fff;
}

main div.slide_to_slide_white_background {
    background-color: #eeeeee;
}


/* ------------------------------------------------*\
                    Main Slide Part
\* ----------------------------------------------- */
main div.slide {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    height: calc(100vh - 45px - 4px - 5vh - 40px);
    justify-items: center;
    align-items: center;
    padding: 20px;
}

main div.slide img {
    height: 50vmin;
}

main div.slide p {
    text-align: center;
    font-size: 4.5vmin;
    margin: 0 20px;
}

/* ---------------------------------------------------------------------- *\
                            Responsive Main Style
\* ---------------------------------------------------------------------- */
@media (max-width: 1367px) {
    main div.slide {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        grid-row-gap: 10px;
    }

    main div.slide img {
        height: 100%;
    }

    main div.slide p {
        font-size: 4vmin;
    }
}

@media (max-width: 1200px) {

    main div.slide p {
        font-size: 3.5vmin;
    }
}

@media (max-width: 700px) {
    main div.slide img {
        height: 70%;
    }

    @media (max-width: 550px) {

        main div.slide p {
            font-size: 4vmin;
        }
    }
}

/* ---------------------------------------------------------------------- *\
                            Fixed Main Slide 1 Style
\* ---------------------------------------------------------------------- */
main div#slide_1 {
    grid-template-columns: 1fr;
    background: no-repeat center / cover url(../img/photo_slide1.1.jpg);
    border-bottom: 4px #eeeeee solid;
    margin: 0;
}

main div#slide_1 h1 {
    align-self: end;
    font-size: 20vmin;
    font-style: italic;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main div#slide_1 p {
    align-self: start;
    text-align: center;
    font-size: 4vmin;
    color: #FFFFFF;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------------------------------------------------------------------- *\
                            Fixed Main Slide 2 Style
\* ---------------------------------------------------------------------- */
main div#slide_2 {
    background-color: white;
}

/* ------------------------------------------- *\
            Fixed Project Part
\* ------------------------------------------- */
div#more_detail_about_project {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

div#more_detail_about_project h1 {
    text-align: center;
    margin: 40px;
}

div#more_detail_about_project div.project_type {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 60px;
    justify-items: center;
    padding-bottom: 40px;
}

div#more_detail_about_project article {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 500px;
    border-radius: 10px;
}
div#more_detail_about_project article div.img_and_description_project {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

div#more_detail_about_project article div.img_and_description_project img {
    align-self: center;
    justify-self: center;
}

div#more_detail_about_project article div.img_and_description_project h2 {
    text-align: center;
    padding: 0;
}

div#more_detail_about_project article p {
    align-self: center;
    justify-self: center;
}

div#more_detail_about_project article ul#team_wich_work_on_project {
    justify-self: right;
    display: flex;
    flex-direction: row;
}

div#more_detail_about_project article h2,
div#more_detail_about_project article p,
div#more_detail_about_project article ul#team_wich_work_on_project {
    padding: 0px 10px;
}


div#more_detail_about_project article ul#team_wich_work_on_project a img {
    margin: 0 5px;
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    filter: grayscale(100%);
}

/* ------------------------------------------- *\
            Fixed Project Part
\* ------------------------------------------- */
div#more_detail_about_project article ul#team_wich_work_on_project a img:hover {
    filter: none;
    transform: scale(1.1);
}

/* ------------------------------------------- *\
            Responsive Project Part
\* ------------------------------------------- */
@media only screen and (max-device-width: 1900px) and (min-device-width: 0px) {
    div#more_detail_about_project article ul#team_wich_work_on_project a img {
        filter: none;
    }
    div#more_detail_about_project h1 {
        display: none;
    }
    div#more_detail_about_project div.project_type {
        margin-top: 25px;
    }
}

@media (max-width: 550px) {
    div#more_detail_about_project article {
        width: 90vw;
    }
    div#more_detail_about_project article div.img_and_description_project {
        grid-template-columns: 1fr;
    }
    div#more_detail_about_project article div.img_and_description_project img {
        display: none;
    }
    div#more_detail_about_project article h2,
div#more_detail_about_project article p,
div#more_detail_about_project article ul#team_wich_work_on_project {
    padding: 5px 10px;
}
}

/* ---------------------------------------------------------------------- *\
                            Fixed Main Slide 3 Style
\* ---------------------------------------------------------------------- */
main div#slide_3 {
    background-color: #EEEEEE;
    grid-template-columns: 3fr 1fr;
}

main div#slide_3 img {
    grid-column: 2;
    grid-row: 1;
}

/* ------------------------------------------- *\
            Fixed Team Part
\* ------------------------------------------- */

div#more_detail_about_team div.anchor {
    height: 45px;
    margin-top: 15px;
}

div#more_detail_about_team {
    background-color: #eeeeee;
}

div#more_detail_about_team h1 {
    text-align: center;
    margin-top: 40px;
}

div#more_detail_about_team div.developer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 40px;
}


div#more_detail_about_team article {
    display: grid;
    grid-template-areas:
        "a b"
        "c c"
        "d d";
    box-shadow: 1px 1px 1px 1px #00000022;
    background-color: white;
    padding: 10px;
    width: 700px;
    margin-right: 30px;
}

div#more_detail_about_team article h2 {
    grid-area: a;
}

div#more_detail_about_team article div.div_img {
    grid-area: b;
    height: 63px;
    display: flex;
    justify-content: flex-end;
}

div#more_detail_about_team article img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    transform: translate(calc(35% + 10px), calc(-35% - 10px));
    z-index: 1;
}

div#more_detail_about_team article p {
    grid-area: c;
    margin: 0 0 15px 0;
}

div#more_detail_about_team article ul#team_social_network {
    justify-self: right;
    display: flex;
    flex-direction: row;
    grid-area: d;
}

div#more_detail_about_team article ul#team_social_network li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

div#more_detail_about_team article ul#team_social_network li i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
}

/* ------------------------------------------- *\
            Animated Team Part
\* ------------------------------------------- */
div#more_detail_about_team article ul#team_social_network li#cv_background:hover {
    background-color: rgb(243, 204, 181);
}

div#more_detail_about_team article ul#team_social_network li#linkedin_background:hover {
    background-color: #0077b5;
}

div#more_detail_about_team article ul#team_social_network li#envelope_background:hover {
    background-color: #0075c8;
}

div#more_detail_about_team article ul#team_social_network li#phone_background:hover {
    background-color: #65c52e;
}

div#more_detail_about_team article ul#team_social_network li#website_background:hover {
    background-color: rgb(243, 0, 0);
}

div#more_detail_about_team article ul#team_social_network i:hover {
    color: white;
}


/* ------------------------------------------- *\
            Responsive Team Part
\* ------------------------------------------- */
@media only screen and (max-device-width: 1900px) and (min-device-width: 0px) {
    div#more_detail_about_team article ul#team_social_network li#cv_background {
        background-color: rgb(243, 204, 181);
    }

    div#more_detail_about_team article ul#team_social_network li#linkedin_background {
        background-color: #0077b5;
    }

    div#more_detail_about_team article ul#team_social_network li#envelope_background {
        background-color: #0075c8;
    }

    div#more_detail_about_team article ul#team_social_network li#phone_background {
        background-color: #65c52e;
    }

    div#more_detail_about_team article ul#team_social_network li#website_background {
        background-color: rgb(243, 0, 0);
    }

    div#more_detail_about_team article ul#team_social_network i {
        color: white;
    }
}

@media (max-width: 850px) {
    div#more_detail_about_team article {
        width: 500px;
    }
}

@media (max-width: 650px) {
    div#more_detail_about_team article {
        width: 300px;
    }

    div#more_detail_about_team article h2 {
        font-size: 1.1em;
    }

    div#more_detail_about_team article img {
        height: 110px;
        width: 110px;
    }
}

@media (max-width: 385px) {
    div#more_detail_about_team article {
        width: 240px;
        margin-left: 10px;
    }

    div#more_detail_about_team article img {
        height: 86px;
        width: 86px;
    }
}

/* ---------------------------------------------------------------------- *\
                            Responsive Main Slide 3 Style
\* ---------------------------------------------------------------------- */

@media (max-width: 1367px) {
    main div#slide_3 {
        grid-template-columns: 1fr;
    }

    main div#slide_3 img {
        grid-column: 1;
    }
}

/* ---------------------------------------------------------------------- *\
                            Fixed Main Slide 4 Style
\* ---------------------------------------------------------------------- */
main div#slide_4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

main div#slide_4 div#iframe_map {
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1.5px solid rgba(0, 0, 0, .125);
    width: 60%;
    height: 60%;
}

main div#slide_4 iframe {
    width: 100%;
    height: 100%;
}

main div#slide_4 form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    align-items: center;
    justify-items: center;
    width: 90%;
}

main div#slide_4 form input,
main div#slide_4 form textarea {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    background-color: white;
    border-radius: 10px;
    border: 0.25vmin solid rgba(0, 0, 0, .125);
    cursor: pointer;
    font: 2em "Century Gothic";
    width: 100%;
    height: 80%;
}

main div#slide_4 form textarea {
    text-align: justify;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

main div#slide_4 form input::placeholder,
main div#slide_4 form textarea::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

main div#slide_4 form input[type=submit] {
    background-color: #eeeeee;
    color: rgba(0, 0, 0, 0.4);
    width: 50%;
    height: 100%;
    justify-self: end;
}

/* ---------------------------------------------------------------------- *\
                            Responsive Main Slide 4 Style
\* ---------------------------------------------------------------------- */
@media (max-width: 1163px) {
    main div#slide_4 {
        grid-template-columns: 1fr;
        grid-template-rows: 100%;
    }

    main div#slide_4 form {
        grid-row-gap: 5px;
        height: calc(100vh - 45px - 4px - 5vh - 40px);
    }

    main div#slide_4 div#iframe_map {
        display: none;
    }

    main div#slide_4 form input,
    main div#slide_4 form textarea {

        font-size: 1em;
    }

    main div#slide_4 form input[type=submit] {
        height: 50%;
    }
}

@media (max-height: 450px) {
    main div#slide_4 form input[type=submit] {
        height: 100%;
    }
}

/* ---------------------------------------------------------------------- *\
                            Fixed Footer Style
\* ---------------------------------------------------------------------- */
footer {
    align-self: end;
    bottom: 0;
    background-color: #EEEEEE;
    display: grid;
    grid-template-areas:
        "a b"
        "c c";
    padding: 20px;
}

footer div.footer_communication {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    align-items: center;

}

footer div.footer_communication div.footer_title_communication {
    justify-self: center;
}

footer div#footer_partner {
    justify-self: start;
    grid-area: a;
}

footer div#footer_social_network {
    justify-self: end;
    grid-area: b;
}

footer div#footer_social_network ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: stretch;
}

footer div.footer_communication ul li {
    display: grid;
    background-color: #fff;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

footer div.footer_communication ul li:nth-child(-n+3) {
    border-right: 0px;
}

footer div#footer_legality {
    justify-self: center;
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    grid-row-gap: 10px;
}

footer div#footer_legality ul {
    display: flex;
    flex-direction: row;
}

footer div#footer_legality ul li {
    margin: 0 10px;
}

/* ---------------------------------------------------------------------- *\
                            Animated Footer Style
\* ---------------------------------------------------------------------- */
footer div.footer_communication ul li a i#envelope:hover {
    color: #0075c8;
}

footer div.footer_communication ul li a i#facebook:hover {
    color: #1e4d9d;
}

footer div.footer_communication ul li a i#linkedin:hover {
    color: #0077b5;
}

footer div.footer_communication ul li a i#marker:hover {
    color: #ea4335;
}

footer div#footer_legality ul li a:hover {
    color: black;
}

/* ---------------------------------------------------------------------- *\
                            Responsive Footer Style
\* ---------------------------------------------------------------------- */
@media (max-width: 1000px) {
    footer {
        grid-template-areas:
            "a"
            "b"
            "c";
        grid-row-gap: 10px;
    }

    footer div.footer_communication {
        grid-row-gap: 0px;
    }

    footer div#footer_partner {
        justify-self: center;
    }

    footer div#footer_social_network {
        justify-self: center;
    }
}

@media (max-width: 430px) {
    footer {
        font-size: 0.68em;
    }
}