/*
    General css
*/
body{
    margin: 0;padding: 0; /*Full screen*/
    font-family: "Century Gothic";
}

/*
    Class + id used in Header
*/
.current > a{
    font-style: italic;
    color: red;
}

/*
    Header

*/    
header{
    border-bottom: 4px #eeeeee solid;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding:0;
}
nav ul li{
    margin-left: 1rem;margin-right: 1rem;
}
nav ul li  a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.36);
}
nav  ul  li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav  ul  li  img {
    margin-left: 2rem;
}
nav  ul  li  img#icon_linkedin {
    margin-right: 1rem;
}

/*
    Responsive header -- Pris en compte pour écran avec largeur inférieure à 768px
*/
@media (max-width:768px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*
    Main
*/
/*
    Slide 1
*/
main {
    display: flex;
    flex-direction: column;
}
main  div#slide_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px #eeeeee solid;
}
main  div#slide_1  h1 {
    font-size: 5rem;
}
main  div#slide_1  p {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 2rem;
}
/*
    Slide 2
*/
main  div#slide_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 4px #eeeeee solid;
}
main  div#slide_2  img {
    margin-left: 2rem;
}
main  div#slide_2  p {
    margin-right: 2rem;margin-left: 2rem;
}
/* 
    Slide 3
*/
main  div#slide_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 4px #eeeeee solid;
}
main  div#slide_3  img {
    margin-right: 2rem;
}
main  div#slide_3  p {
    margin-right: 2rem;margin-left: 2rem;
}
/*
    Slide 4
*/
main  div#slide_4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 4px #eeeeee solid;
}
main  div#slide_4  img {
    margin-left: 2rem;
}
main  div#slide_4  form {
    display: flex;
    flex-direction: column;
}

/* 
    Responsive Main Pris en compte pour écran avec largeur inférieure à 768px
*/
@media (max-width:768px){
    main  div#slide_1  h1 {
        font-size: 2.5rem;
    }
    main  div#slide_1  p {
        margin-left: 2rem;margin-right: 2rem;
        font-size: 1rem;
    }
    main  div#slide_2 {
        flex-direction: column;
    }
    main  div#slide_3 {
        flex-direction: column;
    }
}
/*  
    Footer
*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer  p {
    margin-left: 2rem;
}
footer  div {
    margin-right: 2rem;
}
footer  div#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
